@charset "UTF-8";

@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

@import url(https://fonts.googleapis.com/css?family=Roboto);

@import url('https://use.fontawesome.com/releases/v5.0.13/css/all.css');

html, body {
	margin: 0 auto;
	font-family: 'Roboto', 'Noto Sans KR', sans-serif;
	padding: 0;
	position: relative;
	text-transform: initial;
	background: hsl(0, 0%, 100%) !important;
	overflow-x: hidden;
}

body {
	
}


section:after {
	clear: both;
	display: block;
	content: "";
}

section.indicator {
	padding:30px 0;
	overflow:hidden;
	height:500px
}



/* beyound to Container(Banner) */
section.wideBanner {
	position: relative;
	transform: translateX(-50%);
	left: 50%;
 	background: url(../images/carousel-03.png) no-repeat center; 
	background-size: cover;
	height:390px;
}

section.wideBanner:after {
	clear: both;
	display: block;
	content: "";
}

section.wideBanner ul {
	float: left;
}

section.wideBanner ul:first-of-type {
	margin-right: 15px;
}

ul.typeLeft li {
	padding: 0 10px;
	margin: 0 5px;
}

a {
	color: inherit;
	outline: none;
	text-decoration: none !important;
}

h1, h2, h3, h4, h5 {
	font-weight: 100;
}

h2, h3, h5 {
	letter-spacing: 1.3px;
	/* text-transform: uppercase; */
}

h1 {
	line-height: 3rem;
	padding-bottom: 6px;
}

h2 {
	color: #222;
	padding-bottom: 10px;
	letter-spacing: 0.41px;
}


.carousel-overlay-wrap .carousel-overlay h2.carouselHeader {
	
}

.carousel-overlay-wrap .carousel-overlay h2.carouselContent {
	
font-size: 19px;
	
letter-spacing: 0.41px;
	
margin: 27px 0 35px;
}

.carousel-overlay-wrap .carousel-overlay p {
}


.carousel-overlay-wrap .carousel-overlay p > a {
	
color: white;
}

.carousel-overlay-wrap .carousel-overlay p > a:first-of-type {
	font-weight:bold;
}

.carousel-overlay-wrap .carousel-overlay p > span {
	margin: 0 7.5px;
	color: white;
}

h3 {
	color: #222;
	letter-spacing: 1px;
	padding-bottom: 10px;
}

h4 {
	color: #222;
	line-height: 28px;
	letter-spacing: 1px;
}

p {
	font-weight: 300;
	line-height: 25px;
	word-spacing: 0px;
	color: #222;
}

ul {
	list-style: none;
	padding: 0;
}

ul.typeLeft {
	
}

ul li.title {
	padding-left: 0;
	padding-right: 0;
}

ul li.title>div>a {
	color: red;
	font-weight: bold;
}

input[type="checkbox"] {
	display: none;
}


/* sidebar */


.exit  {
	width:57px;
	position:absolute;
	z-index:999;
	right:-110%;
	transition:.5s;
}

.exit i.close {
	font-size: 25px;
	padding: 16px 0;
	margin-left: 0px;
	z-index: 9999;
	color: #092919;
	background: white;
	text-align: center;
	transition: 0.5s;
	right: -100%;
	width: 57px;
	float:left;
}

.sidebarMenu {
	position:fixed;
	z-index:999;
	right:-110%;
	transition:0.5s;
}

ul.menuSet {
	background:#3caa69;
	transition:0.5s;
	float:left;
	margin-bottom:0;
}

.sidebarMenu ul.menuSet li:after{
	clear:both;
	display:block;
	content:"";
}

.sidebarMenu ul.menuSet li {
	overflow:hidden;
}
.sidebarMenu ul.menuSet .set.log {
	background:#3b3b3b;
	padding:7.5px 0;
}

 ul.menuSet li.set h2.title {
 	padding: 17.5px 16.5px 13.5px;
	font-weight: 700;
	font-size: 1.21em;
	color: #eee;
	border-bottom: 0px solid #111;
	text-shadow: 0 0px 0px rgba(0,0,0,.5);
	border-top: 0px solid #313131;
	font-family: Nanum Square;
 }

 ul.menuSet li.logSet a {
 	padding: 13.5px 25px 13.5px 47px;
	display: block;
 }

 ul.menuSet li.set.log .buttonBox {
	padding:7.5px 11.5px 20px;
}

 ul.menuSet li.set.log .buttonBox button {
 	width:48%;
 	float:left;
 	border:1px solid white;
 	background:transparent;
 	border-radius:4px;
 	color:white;
 	padding: 4px 9px;
 	margin: 0;
 }
 
 ul.menuSet li.logSet .buttonBox button:last-of-type {

	margin-left:4%;
}

.sidebarMenu ul.innerUl {
	padding-bottom:17.5px;
	padding-top:8px;
}

.sidebarMenu ul.innerUl li {
	
}

.sidebarMenu ul.innerUl li a {
	color:#eee;
	font-size:14px;
	line-height:1.6em;
	padding: 13.5px 25px 13.5px 47px;
	display: block;
}

.overlay92 {
	position:fixed;
	width:100%;
	height:100%;
	background:rgba(0, 0, 0, 0.51);
	z-index:998;
	display:none;
}

#mobilemenu {
	display:none;
	cursor:pointer;
}

#mobilemenu i {
	color:#3caa69;
}



/*navigation*/

header {
	
padding: 5px 0;
}



header:after {
	clear:both;
	display:block;
	content:"";
}




header .container {
	text-align: right;

}

header .container a {
	margin-right: 4.5px;
		padding: 6px 0;
	font-size: 14px;
}


header .container a:last-of-type {
	margin-right:0;
}

header .container a.pipe {
	
}

header .container a.pipe:before {
	content:"|";
	margin: 0 2.5px;
}


header .container span.status {
	font-size:14px;
	margin-right:15px;
}


header .container span.status b {
	color:#3caa69;
	margin-right:2.5px;
	font-weight:500; ㅋ
}



nav div.userBehavior {
	float:right;
	height: 80px;
	margin-left: 40px;
	padding: 24px 0;
}

nav div.userBehavior button {
	
min-width: 75px;
	
vertical-align: middle;
	
height: 32px;
	
padding-left: 15px;
	
padding-right: 15px;
	
border: 1px solid lightgrey;
	
background: transparent;
	
color: gray;
}

nav div.userBehavior button:last-of-type {
	margin-left: 4.5px;
	border: 1px solid #99cfaf;
	color: #98e8b9;
}

nav ul.theory {
	margin: 0;
	overflow: hidden;
	float: right;
	padding: 0;
	list-style: none;
	font-family: 'Noto Sans KR', sans-serif;
	height: 80px;
}


nav  ul.theory li {
	
display: inline-block;
	
min-width: 145px;
}

nav  ul.theory li.root {
	
}

nav  ul.theory li.root > a.rootA {
	
height: 100%;
	
line-height: 80px;
}


nav ul.theory li:hover > ul.dropmenu {
	display: block;
	min-width: auto;
}

nav  ul.theory li > a {
	display: inline-block;
	color: #666;
	text-align: left;
	padding: 0 11px;
	text-decoration: none;
	font-size: 16px;
}

nav  ul.theory li > ul.dropmenu {display: none;border-top:1.6px solid #3caa69;position: absolute;background-color: #fbfbfb;min-width: 140px;box-shadow: 0px 2px 0px 0px rgb(249, 246, 246);z-index: 9991;}

nav  ul.theory li > ul.dropmenu li {
	
display: block;
	
width: 145px;
}

nav  ul.theory li > ul.dropmenu li > a {
	
padding: 18px 11px;
}

 nav  ul.theory li.uber {
	min-width: auto; 
	outline:none;
	
} 

nav ul.theory li.root:hover .uberSection , nav ul.theory li.uber:hover .uberSection {
	display:block;
}

 nav  ul.theory li.uber button {
	
margin: 0;
	
background: transparent;
	
color: #3caa69;
	
font-size: 21.5px;
	
padding: 0;
	
vertical-align: middle;
	
width: 40px;
	
height: 75px;
} 

 nav  ul.theory li.uber button > i {
	
}

nav  ul.theory li.root div.uberSection , nav  ul.theory li.uber div.uberSection  {
	
display: none;
	
position: absolute;
	
background-color: white;
	
left: 50%;
	
padding:22px 15px;
	
	
transform: translateX(-50%);
	
box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	
z-index: 99991;
}

.uberSection ul.uberMenu {
	
min-width: 145px;
	
float: left;
	
padding: 10px 0;
}

.uberSection ul.uberMenu li.uberColumn {width: 145px;display: block;float: left;}

ul.uberMenu li.uberColumn ul {
}

ul.uberMenu li.uberColumn ul > li {


}

ul.uberMenu li.uberColumn ul > li  > a {

padding: 6px 8.5px;
}

ul.uberMenu li.uberColumn ul > li p.uberHeader {

	color:#27c57c;
	font-weight:450;
	margin:8px 0 15px;
}


nav .brandLogo {
	float:left;
	padding: 17px 0;
	height: 80px;
}

nav .brandLogo a {
	
}

nav .brandLogo a > img {
	
}







/* 캐러셀 */

.partnerOwl {
	
}

.partnerOwl img {
	
}



.carousel-overlay-wrap {
	position:absolute;
	width:100%;
	height:100%;
	background:rgba(0,0,0,0.43);
}


.carousel-overlay-wrap .carousel-overlay {
	position:relative;
	top: calc(50% - 126px);
	text-align:center;
}


.carousel-overlay h2 {
		margin: 0;
	padding: 0 0 9.5px 0;
	font-size: 38px;
	letter-spacing: 2.2px;
	font-weight: 300;
	color: white;
}

.carousel-overlay h2>strong {
	font-weight: 450;
	LINE-HEIGHT: 58PX;
}

.carousel-overlay h2:last-of-type {
	margin-bottom:10px;
}

.owlc2 {
	width:85%;
	margin:0 auto;
}

.owl-nav {
	position: absolute;
	top: calc(50% - 15.2px); /* calc(50% - 49px); */
	color: white;
	width: calc(100% + 15%);
	left: -7.5%;
	z-index:0;
}

.owl-buttons {
	position: absolute;
	top: calc(50% - 13.5px);
	color: white;
	width: calc(100% + 40px);
	z-index:0;
	left: -20px;
}

.owl-buttons i {
	color:white;
	font-size: 27px;
}


.owl-carousel .owl-stage-outer {
	z-index:99;
}

.owl-prev {
	float: left;
	/* padding-left: 30px; */
}

.owl-next {
	float: right;
	/* padding-right: 30px; */
}

.owl-theme .owl-dots {
	display: flex;
	position: absolute;
	bottom: 17.5%;
	left: calc(50% - 42px);
	z-index:100;
}

.owl-nav i {
	font-size: 1.9em;
	color: #9ed47d;
}


.owl-carousel .owl-dot {
	width:auto;
	margin:0;
}
.owl-dot span {
	background: none repeat scroll 0 0 #d0cece;
	border-radius: 20px;
	display: block;
	height: 10px;
	margin: 5px 7px;
	opacity: 0.8;
	width: 10px;
}

.owl-dot.active span {
	background: none repeat scroll 0 0 #98e8b9 !important;
}



/*  carousel - introduce view */
.thumbnails-wrapper {
  	position: absolute;
  	left: 0;
  	right: 0;
 	bottom: 0;
  	background-color: rgba(0, 0, 0, 0.5);
  	padding: 10px 30px;
  
}

#thumbnails .owl-wrapper-outer .owl-wrapper {
	z-index:999;
	
}


.thumbnails-wrapper .item {
    margin: 0 5px;
    cursor: pointer;
    
 }
 
 .thumbnails-wrapper .item img {
 	width:100%;
 	height:auto;
 	opacity:0.53;
 }
 
 .thumbnails-wrapper .owl-item.synced .item img {
 	opacity:1.0;
 }
  
.thumbnails-wrapper .item .image {
   border: 1px solid #9F9EA2;
   max-height: 36px;
}

 .synced .image {
    border-color: #1699FF;
  }
  
  .collapse-button {
  position: absolute;
  border-bottom: 11px solid rgba(200, 60, 60, 0.5);
  border-left: 11px solid transparent;
  border-right: 11px solid transparent;
  height: 0;
  width: 63px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: -11px;
  
  }
  
  .collapse-button .icon.flip {
   border-top: 0;
  border-bottom: 7px solid white;
  }
  
  .icon {
    position: relative;
    top: 2px;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 7px solid white;
    margin: 0 auto;
  
 }
  .counter {
  position: absolute;
  right: 10px;
  top: -30px;
  z-index: 2;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 3px 8px;
  border-radius: 15px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  
  }





.container {
	
}

#wrap {
	max-width: 1200px;
	overflow: hidden;
	padding-right: 0;
	padding-left: 0;
	margin: 2em auto;
}

nav {
	box-shadow: 0px 1px 0px 0px rgba(217, 212, 212, 0.48);
}



a, input, button {
	outline: none;
}

a:focus, a:active, input:active, input:focus, button:active, button:focus
	{
	outline: none;
}

div {
	word-break: keep-all;
	word-wrap: normal;
}

div:after {
	clear:both;
	display:block;
	content:"";
}

div.inImage img {
	padding: 10px;
	width: 100%;
}

div.divInto2 div {
	width: 48%;
	margin-right: 4%;
	float: left;
}

div.divInto2 div:last-of-type {
	margin-right: 0;
}

div.divInto3 div {
	width: 30.666%;
	margin-right: 4%;
	float: left;
}

div.divInto3 div:last-of-type {
	margin-right: 0;
}

div.divInto4 div {
	width: 22%;
	margin-right: 4%;
	float: left;
}

div.divInto4 div:last-of-type {
	margin-right: 0;
}

div.divInto6 div {
	width: 13.3332%;
	margin-right: 4%;
	float: left;
}

div.divInto6 div:last-of-type {
	margin-right: 0;
}

div.choiceFunction {
	padding: 5px 0;
}

div.choiceFunction:after {
	clear: both;
	display: block;
	content: "";
}

div.choiceFunction .choiceTitle {
	margin-bottom: 0;
	min-width: 120px;
	float: left;
	font-size: 16px;
	font-weight: 400;
	letter-spacing: 0.41px;
	margin-right: 20px;
	height: 31px;
	line-height: 31px;
}

div.choiceFunction .choiceTitle.useCheck {
	height: 48px;
	line-height: 48px;
}

div.choiceFunction .choiceGrid.useCheck {
	height: 48px;
}

div.choiceFunction .choiceGrid {
	float: left;
	width: calc(100% - 140px);
	height: 31px;
	padding: 5.5px 0;
}

.labelRadio {
	border: none;
	position: relative;
	margin: 0 5px;
	padding: 0 !important;
	float: left;
	line-height: 20px;
	width: 105px;
}

.labelRadio input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
}

.labelRadio .checkmark {
	border-radius: 50%;
	top: 13.5px;
	background: white;
	left: 0px;
	position: absolute;
	width: 20px;
	height: 20px;
	border: 1px solid #cacbcc !important;
	cursor: pointer;
}

.labelRadio .checkmark:after {
	top: 3px;
	left: 3px;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	background: #3dad6b;
}

.labelCheck {
	padding: 7px 19px;
	margin-bottom: 0;
	border: 1px solid #cacbcc;
	font-size: 14px;
	cursor: pointer;
	margin-right: 2px;
}

.labelCheck:last-of-type {
	margin-right: 0;
}

.checkmark:after {
	content: "";
	position: absolute;
	display: none;
}

.labelRadio input:checked ~ .checkmark:after {
	display: block;
}

div.choiceFunction input {
	border: 1px solid #ded8d8;
	float: left;
	padding-left: 12px;
	padding-right: 12px;
	font-size: 14.3px;
	border-radius: 4px;
}

.labelRadio span.Item {
	margin-left: 12.5px;
	line-height: 20px;
	font-size: 14px;
	font-weight: normal;
}

.select-group {
	float: right;
}

.select {
	cursor: pointer;
	float: left;
	position: relative;
	font-size: 16px;
}

.select-hidden {
	display: none;
	visibility: hidden;
	padding-right: 10px;
}

.select-styled {
	border: 1px solid #ded8d8;
	color: #a29c9c;
	background-color: transparent;
	padding: 12px 0 12px 10px;
	margin: 0 3px;
	font-size: 14px;
	width: 105px;
}

.select-styled:after {
	content: "";
	width: 0;
	height: 0;
	border: 7px solid transparent;
	border-color: #1c9035 transparent transparent transparent;
	position: absolute;
	top: 16px;
	right: 15px;
}

.select-options {
	display: none;
	position: absolute;
	top: 100%;
	right: 0;
	left: 0;
	z-index: 999;
	padding: 0;
	max-height: 123px;
	overflow-y: scroll;
	list-style: none;
	background-color: #f7f7f7;
	border-radius: 2px;
	margin: 0 3px;
	border: 1px solid #ded8d8;
	box-shadow: 1px 1px 1px #c1c1c1;
}

.select-options li {
	margin: 0;
	padding: 9.5px 0 9.5px 10px;
	font-size: 14px;
	border-bottom: 1px solid #cacbcc;
	-moz-transition: all 0.15s ease-in;
	-o-transition: all 0.15s ease-in;
	-webkit-transition: all 0.15s ease-in;
	transition: all 0.15s ease-in;
}

/* accordian  */
div.accordian {
	border-bottom: 1px solid #ddd;
	padding: 12px 3px;
}

div.accordian:after {
	clear: both;
	display: block;
	content: "";
}

div.accordian.start {
	border-top: 2px solid black;
}

div.accordian .question {
	font-size: 18px;
	font-weight: bold;
	word-spacing: 0.5px;
	margin: 0 5px 0;
	float: left;
}

div.accordian .questionContent {
	margin: 0;
	font-weight: bold;
	float: left;
}

div.accordian i {
	float: right;
	margin: 7px 3px 0 0;
	font-size: 17px;
	cursor: pointer;
}

div.accordianContent {
	padding: 5px 10px;
	background-color: #eef2f5;
}

div.accordianContent:after {
	clear: both;
	display: block;
	content: "";
}

div.accordianContent .answer {
	float: left;
	font-size: 18px;
	font-weight: bold;
	color: #3caa69;
	margin: 17px 0 0 12px;
}

div.accordianContent .answerContent {
	float: left;
	width: calc(100% - 24px);
}

div.accordianContent .answerContent p {
	display: block;
	margin: 20px 20px 20px 40px;
	font-size: 14px;
	font-weight: 400;
}

div.accordianContent .answerContent a {
	color: #3caa69;
}

div.accordianContent .answerContent br {
	
}

div.accordian_rotate i {
	transform: rotate(180deg);
}

div.accordian_select {
	background: #3caa69;
	color: #ffffff;
	cursor: pointer;
}

div.accordian.accordian_select>p {
	color: #ffffff;
}

div.boardInto2, div.boardInto3 {
	border: 0px solid #dddddd;
	border-width: 0 1px 0 0;
}

div.boardInto2:after, div.boardInto3:after {
	clear: both;
	display: block;
	content: "";
}

.boardInto2 .article {
	width: 50%;
	float: left;
	height: 45px;
	border: 0px solid #e4e4e4;
	border-width: 1px 0px 0px 1px;
}

.boardInto2 .article.last {
	border-width: 1px 0px 1px 1px;
}

.boardInto3 .article {
	width: calc(100%/ 3);
	float: left;
	height: 45px;
	border: 0px solid #e4e4e4;
	border-width: 1px 0px 0px 1px;
}

.boardInto3 .article.last {
	border-width: 1px 0px 1px 1px;
}

.article .articleTitle {
	float: left;
	width: 130px;
	margin-bottom: 0;
	background: #f1f1f1;
	border: 0px solid #e4e4e4;
	border-width: 0px 1px 0px 0px;
	padding-left: 20px;
	height: 45px;
	line-height: 45px;
}

.article .articleValue {
	width: calc(100% - 130px);
	float: left;
	height: 45px;
	padding-left: 25px;
	padding-top: 11px;
}

.article .articleValue span {
	font-size: 14px;
}

/* ETC code */
.no-padding {
	padding: 0 !Important;
}

.no-margin {
	margin: 0 !important;
}

.atLeast480 {
	
}

.floatLeft {
	float: left;
}

.atLeast645 {
	
}

.atLeast767 {
	
}

.mobile {
	
}

div.notice {
	padding: 10px 0;
	background: transparent;
	margin: 10px 0;
}

div.notice h2 {
	padding: 10px 0;
	margin-bottom: 0;
	font-weight: bold;
}

div.Card {
	border: 1px solid #d9d4d4;;
	padding: 17px 22px;
}

div.Card:after {
	clear: both;
	display: block;
	content: "";
}

.CardInfo p {
	float: left;
	margin-bottom: 8px;
	width: 50%;
}

.CardInfo p label {
	font-weight: bold;
	width: 60px;
	margin: 0 8px 0 0;
	float: left;
	color: #3caa69;
}

.CardInfo p span {
	font-weight: 400;
	float: left;
	width: calc(100% - 68px);
}

.CardInfo p.last {
	margin-bottom: 0;
	width: 100%;
}

div.businessCard:after {
	clear: both;
	content: "";
	display: block;
}

/* Tabmenu */
.nav-tabs .nav-link {
	border-radius: 0;
	border-color: #d9d4d4;
	text-align:center;
	border-bottom: 0;
}

.nav-tabs .nav-link.active {
	background: #9ed47d;
	color: #fff;
	border: 0;
}

.tab-content {
	
}

.tab-content .tab-pane {
	padding: 25px 0;
}

.nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus {
	border: color:#d9d4d4;
}

/* advertisement */
.advertisement {
	display: table;
	margin-bottom: 55px;
}

.iconBox {
	display: table-cell;
	width: 100px;
}

.iconBox img {
	height: auto;
}

.contentBox {
	display: table-cell;
	vertical-align: top;
	padding-left: 45px;
}

.contentBox .contentHeader {
	
}

.contentBox .contentHeader h2 {
	color: #3caa69;
	padding: 0;
	margin-bottom: 10px;
	word-spacing: 0;
	font-size: 18px;
	font-weight: bold;
}

.contentBox .contentBody {
	
}

.contentBox .contentBody p {
	font-weight: normal;
	line-height: 32px;
	font-size: 16px;
	word-spacing: 0;
	color: rgba(80, 80, 80, 0.8);
	display: table-cell;
}

/* button set  */
button.btn {
	background: #3caa69;
	color: white;
	border: none;
	margin: 40px 4px;
	padding: 14px 20px;
	font-size: 16px;
	width: 160px;
	border-radius: 4px;
	cursor: pointer;
}

button.ghost {
	background: transparent;
	color: gray !Important;
	border: 1px solid #d9d4d4 !important;
}

button.ghost:hover {
	background: #f2f2f2;
}

button.dark {
	background: #6b7076;
	color: white;
}

button.dark:hover {
	background: #a1a1a1;
}

input[type=submit] {
	background: #3caa69;
	color: white;
	border: none;
}

button:active {
	background: #dddddd;
}

button:hover {
	background: #58da8c;
}

button:focus {
	
}




.partnerCompany {
	
margin: 40px 0 10px;
	
padding: 20px 0px;
}

.partnerCompany h2 {
	
text-align: center;
	
letter-spacing: 0.11px;
	
font-size: 27px;
	
font-weight: 550;
	
margin-bottom: 17.5px;
}


.wideBannerContext  {
	
position: ABSOLUTE;
	
left: 54%;
	
top: 25%;
}

.wideBannerContext h2 {
	
color: #2e9ed6;
	
letter-spacing: 0.27;
	
font-weight: 500;
	
margin-bottom: 0;
}


.wideBannerContext p {
	
TEXT-ALIGN: RIGHT;
	
font-size: 19PX;
	
color: gray;
}



.wideBannerContext p:after {
	content: "ㅡ";
	display:block;
	position:relative;
	font-size: 53.5px;
	line-height: 28px;
	margin: 6.5px 0px;
	font-weight:bold;
	color:#2e9ed6
	
}

.wideBannerContext button{
	float:right;
	background:transparent;
	border:1px solid gray;
	color:gray;
	padding:4.5px 23px;
	border-radius:13px;
}




.select2-search--dropdown {

	display: none;
}


.select2-container--default .select2-results__option[aria-selected=true] {
}

.select2-results__option {
	padding-left: 12.5px;
}



/* footer */

footer {
	font-weight:450;
}

footer .footerFoot {
	background:#2e3038;
	padding:27px 0;
}


footer .footerFoot p {
	margin-bottom:0;
	color:gray;
	font-weight:450;
}


.pageStatus {border-bottom: 1px solid #edeaea;}


.pageStatus ul.subject {
	float:left;
	margin-bottom: 0;
	border: 0px solid #edeaea;
	border-width: 0px 1px 0px 1px;
}

ul.subject li.item {cursor:pointer;float: left;width: 160px;margin: 0;height: 44px;}


ul.subject li.item:last-of-type {
	
border-left: 1px solid #edeaea;
}

ul.subject li.item:hover {
	
}

ul.subject li.item:hover ul.subTitle {
	display:block;
}

ul.subject li > h2 {

font-size:17px;

letter-spacing:0.27;

margin-bottom: 0;

line-height: 44px;

padding: 0 8px 0 20px;
color:gray;
}

ul.subject li > h2 i {

font-size:19px;

line-height: 44px;

float:right;
color:#9ed47d;
}

ul.subject li ul.subTitle {

display: none;

position: absolute;

width: 160px;

background: white;

z-index: 99;

border: 1px solid #edeaea;
}

ul.subject li ul.subTitle li {

height: 44px;
}

ul.subject li ul.subTitle li:hover {

background: #d1eeff;
}

ul.subject li ul.subTitle li a {

line-height: 44px;

padding: 0 8px 0 20px;
}


.pageStatus .hotLinks {
	
float: right;
	
height: 44px;
}

.hotLinks button {
	
height: 100%;
	
border: none;
	
background: transparent;
	
float: left;
	
background: #9ed47d;
	
color: white;
	
width: 120px;
}

.hotLinks button:first-of-type {
	
background: #2e9ed6;
}


/* subPage titleZone */


div.subWrapper {
	
padding: 49px 0 36px;
}

div.subWrapper .titleArea {
	
}

div.subWrapper h2.pageTitle {
	
float: left;
	
font-size: 24px;
	
font-weight: 550;
	
letter-spacing: 0.27;
	
margin: 0;
	
padding: 6.5px 0;
}

.titleArea h2.pageTitle {
	float:left;
}

.titleArea .titleFunction {
	float: right;
	height: 41px;
	padding: 6.5px 0;
}

.titleFunction button {
	
border-radius: 50%;
	
height: 28px;
	
width: 28px;
	
background: #f5f4f4;
	
border: 1px solid #d6d6d6;
	
margin-left: 8.5px;
}


.titleFunction button:first-of-type {
	
margin-left: 0;
}

.titleFunction button i {
	
color: #d3d3d3;
}


ul.infoTaps {
	
display: block;
margin:15px 0 30px;
}

ul.infoTaps:after {
	clear:both;
	content:"";
	display:block;	
}

ul.infoTaps .nav-item {
	float:left;
	width:120px;
}

.functionTerm {
	
height: 230px;
	
border: 1px solid #dee2e6;
	
margin-bottom: 25px;
}


.tab-pane h2.tabH2 {
	
padding: 0;
	
font-size: 17.5px;
	
letter-spacing: 0.27;
	
font-weight: 450;
	
margin-bottom: 15px;
}

.tab-pane span {
	
font-size: 16px;
}


/* memberJoin */

.memberJoin {
	
margin: 25px 0;
	
padding: 10px 0;
	
border-top: 2.4px solid #717171;
}

.memberJoin .article {
	
height: 67px;
	
padding: 0 8px;
	
border-bottom: 1px solid #edeaea;
}

.memberJoin .article.address {
	height:134px;
}	

.article label.labelRadio {
	
width: 85px;
	
margin: 0;
	
line-height: 47px;
}

.article label:before {
	content:"*";
	color:red;
	visibility:hidden;
	margin-right: 8.5px;
}

.article label {
	
width: 120px;
	
margin-bottom: 0;
	
line-height: 67px;
	
float: left;
	
margin-right: 35px;
	
font-size: 16.5px;
	
font-weight: 450;
	
color: #222;
}

.article.address label {

line-height: 134px;
}

.article label.required:before {

visibility:visible;
}

.article p {
	
float: left;
	
width: calc(100% - 155px);
	
margin-bottom: 0;
	
height: 100%;
	
padding: 10px 0;
}


.article p > input:focus {
	BORDER-COLOR: #d60d0d;
}


.article p span.error {
	color:#d60d0d;
	font-size: 14PX;
	margin-left: 15px;
	line-height: 47px;
}
.article p > input {height: 100%;border-radius: 6.5px;border: 1px solid #d8d8d8;padding: 0 20px;min-width: 225px;font-size: 13px;float: left;}
.article p > label.labelRadio:first-of-type {
	
margin-left: 15px;
	
margin-right: 15px;
}

.article.address p > input {
	
height: 47px;
	
width: 60%;
}
.article.address p > input:last-of-type {
	
margin-top: 10px;
}

	
}
.article p > label.labelRadio {
	
height: 100%;
width:85px;	
line-height: 47px;
}

.article p > input.beforeAddressButton {
	width: calc(60% - 130px);
}

.article.address p > button {
	float:left;
	width: 120px;
	background: transparent;
	border: 1px solid black;
	height: 47px;
	border-radius: 6.5px;
	font-weight: normal;
	margin-left: 10px;
}

/* 동의약관 */

.terms-area {
	margin-bottom:55px;
}


.terms-area .terms-text {
	padding: 44px 50px 30px;
	border: 1px solid #c3c3c3;
	height: 260px;
	overflow: auto;
	margin-bottom: 30px;
}


.terms-area .consent {
	padding: 20px;
	background: #c3f3e06b;
	border: 1px solid #c4c4c3;
	text-align:center;
}

.consent .labelCheck, .all-consent .labelCheck {
	position: relative;
	border: none;
	padding: 0;
}

.all-consent {
	text-align: center;
	padding: 20px 0;
	background: #c3f3e06b;
	margin-bottom: 55px;
	border: 1px solid #c4c4c3;
}



.terms-area .consent label>i {
	vertical-align: middle;
	font-size: 22px;
	margin-right: 15px;
	padding: 2px 0;
}

.terms-area .consent .labelCheck span.checkmark {
	
}
.terms-area .consent label>span {
	font-size: 16px;
}

.labelCheck input:checked ~ .checkmark:after {
	display:block;
}

.terms-area .consent .labelCheck span.checkmark:after ,  .all-consent .labelCheck span.checkmark:after {
    left: 5px;
    top: 2px;
    width: 8px;
    height: 11px;
    border: 1px solid #3caa69;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    
}


.checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 20px;
	border-radius: 4px;
	width: 20px;
	border: 1px solid #c3c3c3;
	background-color: white;
	cursor:pointer;
}


.terms-area .consent label>span:last-child, .all-consent label>span:last-child
	{
	margin-left: 35px;
	font-size:16px;
	line-height:20px;
}

.terms-text-list {
	margin-bottom: 40px;
}

.terms-area ul li {
	padding-bottom: 5px;
	padding-left: 15px
}

.terms-text p {
	font-size: 13px !important;
	font-weight: 400;
	line-height: 25px;
}

.terms-text-list p {
	line-height: 20px;
}

.terms-table {
    font-size: 13px;
    margin-bottom: 20px;
}

.terms-table thead > tr > .terms-table-th {
	border: 1px solid #d0d0d0;
	padding: 10px;
}

.terms-table tbody > tr > .terms-table-td {
	border: 1px solid #d0d0d0;
	padding: 10px;
    max-width: 180px;
}

.terms .terms-area .terms-ul li a:hover {
	cursor: pointer;
	text-decoration: underline !important;
}

.terms-text-title > p {
	font-weight: bold;
}




